body{
    font-family: sans-serif;
    margin: 0;
}

.prompt{
    display: flex;
    height: 50px;
    justify-self: center;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #ddd;
    width: 70%;
    margin-top: 60px;
    border-radius: 15px;
    background-color: #f5f5f5;
}

.prompt__task:focus{
    outline: none;
    border: none;
}

.prompt__task{
    width: 93%;
    height: 30px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    padding-left: 20px;
}

.prompt__btn{
    background-color: transparent;
    border: none;
    font-size: 30px;
    margin-right: 15px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.prompt__btn:hover{
    background-color: #e1e1e1;
}

.prompt__error{
    color: #f00;
    font-size: 25px;
    display: none;
    place-self: center;
}

.task__list{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-self: center;
    margin-top: 70px;
    border-radius: 15px;
}

.checkbox-container{
    min-width: 40px;
    display: flex;
    justify-content: center;
    background-color: #ddd;
    border-radius: 7px 0 0 7px;
}

.text-container{
    margin: 0 10px;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.task{
    background-color: #f5f5f5;
    display: inline-flex;
    border: 2px solid #bbb;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    min-width: 7%;
    max-width: 100%;
    animation: fadeIn 0.25s ease-in-out;
}

.task__text{
    margin: 0;
    transition: all 0.3s ease;
}

.task__check{
    transform: scale(1.5);
    position: relative;
}

.completed{
    text-decoration: line-through;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.remove__task{
    display: flex;
    align-items: center;
    padding: 5px;
}

.garbage{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.garbage:hover{
    background-color: #e1e1e1;
}

@keyframes fadeIn{
    from { opacity: 0;}
    to   { opacity: 1;}
}
